.sidenav {
  width: 50px;
  position: fixed;
  z-index: 1;
  top: 120px;
  right: 10px;
  background: #AC58FA;
  overflow-x: hidden;
  padding: 8px 0;
  border-radius: 10px;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: white;
  display: block;
}

.sidenav a i {
  font-weight: bold;
}

.sidenav a:hover {
  color: #064579;
}

.main {
  margin-left: 140px; /* Same width as the sidebar + left position in px */
  font-size: 28px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}

